---
import Layout from "../../layouts/Layout.astro";
import ProjectBox from "../../components/ProjectBox.astro";
import { getCollection } from "astro:content";
const projects = (await getCollection("projects")).sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime(),
);
---

<Layout og_type="website">
  <div>
    {
      projects.map((post) => (
        <>
          <div class="divider my-2" />
          <ProjectBox
            title={post.data.title}
            publishedAt={post.data.publishedAt}
            description={post.data.description}
            href={post.slug}
            tags={post.data.tags}
          />
        </>
      ))
    }
  </div>
</Layout>
